# Project Specifics
media/
assets/
reports/

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor files:
*.swp
*.bak
*.tmp
*~
.settings
.project
.pydevproject

# Sphinx docs:
build

# Database files:
*.sql
*.db

# Logs:
*.log
