# Project specifics:
media/
assets/

# Test outputs:
reports/
htmlcov/
*.coverage

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor files:
*.swp
*.bak
*.tmp
*~
.settings
.project
.pydevproject

# Sphinx docs:
build

# Database files:
*.sql
*.db

# Logs:
*.log
