{% templatetag openblock %} load compressed {% templatetag closeblock %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }}{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% templatetag openblock %} compressed_css 'base' {% templatetag closeblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% templatetag openblock %} block extra_css {% templatetag closeblock %}{% templatetag openblock %} endblock extra_css {% templatetag closeblock %}
        {% templatetag openblock %} block extra_js_head {% templatetag closeblock %}{% templatetag openblock %} endblock extra_js_head {% templatetag closeblock %}
    </head>

    <body>
        {% templatetag openblock %} block header {% templatetag closeblock %}{% templatetag openblock %} endblock header {% templatetag closeblock %}
        
        {% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock content {% templatetag closeblock %}
        
        {% templatetag openblock %} block footer {% templatetag closeblock %}{% templatetag openblock %} endblock footer {% templatetag closeblock %}
        
        {% templatetag openblock %} compressed_js 'jquery' {% templatetag closeblock %}
        {% templatetag openblock %} compressed_js 'base' {% templatetag closeblock %}

        {% templatetag openblock %} block extra_js_body {% templatetag closeblock %}{% templatetag openblock %} endblock extra_js_body {% templatetag closeblock %}
    </body>
    
</html>
